#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: start;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #6e6060;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
}
p {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

button {
  padding: 4px;
  border-radius: 4px;
  width: 100px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: 600;
  color: #4c4444;
}
